<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="white-box">
        <div class="d-flex justify-content-between" c>
          <h3 class="box-title">Thêm thiết bị</h3>
        </div>
        <div class="table-responsive">
          <form action="" method="post">
            <table class="table text-nowrap">
            <tr>
              <th class="border-top-0">Mã thiết bị
              </th>
              <td>
                <input type="text" name="idThietBi" id="idThietBi" required value="{{this.idThietBi}}">
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Tên thiết bị
              </th>
              <td>
                <input type="text" name="tenTB" id="tenTB" required value="{{this.tenThietBi}}">
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Mã loại thiết bị</th>
              <td>
                {{!-- {{this.loaiThietBi}} --}}
                <select name="" id="">
                  <option value="">

<<<<<<< HEAD
                      </button>
                    </td>
                  </tr>
                </table>
              </form>
            </div>
            <div class="col-md-3"></div>
          </div>
=======
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Tài khoản thiết bị</th>
              <td>
                <input type="text" name="tkTB" id="tkTB" required value="{{this.taiKhoan}}">
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Mật khẩu thiết bị</th>
              <td>
                <input type="password" name="mkTB" id="mkTB" required value="{{this.matKhau}}">
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Nhập lại mật khẩu thiết bị
              </th>
              <td>
                <input type="password" name="xnMKTB" id="xnMKTB" required value="{{this.matKhau}}">
              </td>
            </tr>
            <tr>
              <th class="border-top-0">Trạng thái thiết bị
              </th>
              <td>
                {{!-- {{this.trangThai}} --}}
                <select name="" id="">
                  <option value="">

                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                  <a id="chinhSua" href="editInfoDevice.html" class="btn btn-info">
                    <i class="fa fa-edit"></i>
                    Chỉnh sửa
                    thông tin
                  </a>
              </td>
            </tr>
          </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
>>>>>>> 99e518d8d7820068674d7ddd0d611d94f1daa210
