<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h1 id="title">Chỉnh sửa thông tin
          thiết bị</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box">
          <h2 class="text-center">Cập nhật thông tin
            thiết bị:</h2>
          <hr />
          <form  action="">
            <table class="table ">

              <tr>
                <th scope="row">Mã thiết bị
                  :</th>
                <td>
                  <input disabled type="text" name="maThietBi" id="maThietBi" value="{{thietbi.idthietbi}}" />
                  
                </td>
              </tr>
              <tr>
                <th scope="row">Mã đơn vị
                  :</th>
                <td>
                  <input required type="text" name="idDonvi" id="idDonvi" value="{{thietbi.iddonvi}}" />
                  
                </td>
              </tr>
              <tr>
                <th scope="row">Tên thiết bị
                  :</th>
                <td>
                  <input required type="text" name="tenThietBi" id="tenThietBi" value="{{thietbi.tenthietbe}}" />
                </td>
              </tr>
              <tr>
                <th scope="row">Loại thiết bị
                  :</th>
                <td>
                  <select name="" id="">
                    {{!-- {{#each loaithietbi}} --}}
                    <option value="{{thietbi.idloai}}">{{thietbi.tenloai}}</option>
                    {{!-- {{/each}} --}}
                  </select>
                  
                </td>
              </tr>
              <tr>
                <th scope="row">Tài khoản thiết bị
                  :</th>
                <td>
                  <input required type="text" name="taiKhoan" id="taiKhoan" value="{{thietbi.taikhoan}}" />
                </td>
              </tr>

              <tr>
                <th scope="row">Mật khẩu thiết bị
                  :</th>
                <td>
                  <input required type="password" name="matKhau" id="matKhau" value="{{thietbi.matkhau}}" />
                </td>
              </tr>

              <tr>
                <th scope="row">Nhập lại mật khẩu
                  thiết bị:</th>
                <td>
                  <input required type="password" name="nhapLaiMatKhau" id="nhapLaiMatKhau"
                    value="{{thietbi.matkhau}}" />
                </td>
              </tr>

              <tr>
                <th scope="row">Trạng thái thiết bị
                  :</th>
                <td>
                  <select name="trangThai" id="trangThai">
                    <option value="1">Kết nối
                    </option>
                    <option value="0">Ngắt kết nối
                    </option>
                  </select>
                </td>
              </tr>
              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="capNhat" type="submit" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                    Cập nhật thông tin
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>