<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
        <h1 id="title">Chỉnh sửa thông tin
          thiết bị</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box">
          <h2 class="text-center">Cập nhật thông tin
            thiết bị:</h2>
          <hr />
          <form id="capNhat" method="POST" action="/list-device/edit/{{thietbi.idthietbi}}?_method=PUT">
          <table class="table ">
            <tr>
              <th scope="row">Mã thiết bị
                :</th>
              <td>
                <input disabled type="text" name="maThietBi" id="maThietBi" value="{{thietbi.idthietbi}}" />
              </td>
            </tr>
            <tr>
              <th scope="row">Mã đơn vị
                :</th>
              <td>
                <input required disabled type="text" name="idDonvi" id="idDonvi" value="{{thietbi.tendonvi}}" />
              </td>
            </tr>
            <tr>
              <th scope="row">Tên thiết bị
                :</th>
              <td>
                <input required type="text" name="tenthietbi" id="tenthietbi" value="{{thietbi.tenthietbi}}" />
              </td>
            </tr>
            <tr>
              <th scope="row">Loại thiết bị
                :</th>
              <td>
                <select name="idloai" id="idloai">
                  {{#each loaithietbi}}
                  <option value="{{this.idloai}}">{{this.tenloai}}</option>
                  {{/each}}
                </select>

              </td>
            </tr>
            <tr>
              <th scope="row">Tài khoản thiết bị
                :</th>
              <td>
                <input required type="text" name="taikhoan" id="taiKhoan" value={{thietbi.taikhoan}} />
              </td>
            </tr>

            <tr>
              <th scope="row">Trạng thái thiết bị
                :</th>
              <td>
                <select name="trangthai" id="trangThai">
                  <option value="1">Kết nối
                  </option>
                  <option value="0">Ngắt kết nối
                  </option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">
              </th>
              <td>
                <button type="button" onclick="myFunction()" class="btn btn-success">
                  <i class="fa fa-edit"></i>
                  Cập nhật thông tin
                </button>
              </td>
            </tr>
          </table>
          </form>
          <script>
            function myFunction() {
              let r = confirm('Xác nhận cập nhật thông tin thiết bị');
              if (r == true) {
                document.getElementById('capNhat').submit();
              }
            }
          </script>
          </script>
          {{#if message}}
          <p id="rpl" class="d-none">{{message}}</p>
          {{/if}}
          <script>
            var rp = document.getElementById("rpl").innerHTML;
            let ex = rp.slice(1, -1);
            alert(ex);
            window.location = 'http://localhost:3000/list-device';
          </script>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>