<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
        <h1 id="title">Chỉnh sửa thông tin loại thiết bị</h1>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="col">
      <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6 border rounded white-box">
          <h2 class="text-center">Cập nhật thông tin loại thiết bị:</h2>
          <hr />
          <form id="capNhat" method="POST" action="/list-catogory/update/{{loaithietbi.idloai}}?_method=PUT">
            <table class="table">
              {{#if loaithietbi}}
              <tr>
                <th scope="row">Mã loại thiết bị
                  :</th>
                <td>
                  <input disabled required type="text" name="maLoaiThietBi" id="maLoaiThietBi"
                    value="{{loaithietbi.idloai}}" />
                </td>
              </tr>

              <tr>
                <th scope="row">Tên loại thiết bị
                  :</th>
                <td>
                  <input required type="text" name="tenloai" id="tenloai" value="{{loaithietbi.tenloai}}" />
                </td>
              </tr>

              <tr>
                <th scope="row">Mô tả loại thiết bị:</th>
                <td>
                  <input required type="text" name="mota" id="mota" value="{{loaithietbi.mota}}" />
                </td>
              </tr>
              <tr>
                <th scope="row">
                </th>
                <td>
                  <button id="them" type="button" onclick="myFunction()" class="btn btn-success">
                    <i class="fa fa-edit"></i>
                    Cập nhật thông tin loại thiết bị
                  </button>
                </td>
              </tr>
              {{/if}}
            </table>
            <script>
              function myFunction() {
                let a =$('#tenloai').val();
                let b =$('#mota').val();
                if( a != ""){
                  if(b != ""){
                    let r = confirm('Xác nhận cập nhật thông tin loại thiết bị');
                    if (r == true) {
                      document.getElementById('capNhat').submit();
                    }
                  }
                }
                else if( b != ""){
                  if(a != ""){
                    let r = confirm('Xác nhận cập nhật thông tin loại thiết bị');
                    if (r == true) {
                      document.getElementById('capNhat').submit();
                    }
                  }
                }
              }
            </script>
            {{#if message}}
            <p id="rpl" class="d-none">{{message}}</p>
            {{/if}}
            <script>
              var rp = document.getElementById("rpl").innerHTML;
              let ex = rp.slice(1, -1);
              alert(ex);
              window.location = 'http://localhost:3000/list-catogory';
            </script>
          </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </div>
</div>