<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <h1>
                Bảng thống kê
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Kết nối
                    </h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-success">{{soluong.dangketnoi}}</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="white-box analytics-info">
                    <h3 class="box-title">Ngắt kết nối</h3>
                    <ul class="list-inline two-part d-flex align-items-center mb-0">
                        <li>
                            <div id="sparklinedash2"><canvas width="67" height="30"
                                    style="display: inline-block; width: 67px; height: 30px; vertical-align: top;"></canvas>
                            </div>
                        </li>
                        <li class="ms-auto"><span class="counter text-purple">{{soluong.ngatketnoi}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <span id="q" class="d-none">{{quyen}}</span>
        {{#if quyen}}
        <div id="barChar" class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="white-box">
                    <h3 class="box-title">Số lượng lệnh gửi từng tháng</h3>
                    {{#if quyen}}
                        <canvas id="myChart" width="900" height="300"></canvas>
                    {{/if}}
                    <div class="cJS d-none">
                        <span id="lbls">
                            {{#each bieudo}}
                            "{{this.month}}" ,
                            {{/each}}
                        </span>
                        <span id="lbl">
                            {{#each bieudo}}
                            "{{this.year}}" ,
                            {{/each}}
                        </span>
                        <span id="dt">
                            {{#each bieudo}}
                            "{{this.soluonglenh}}" ,
                            {{/each}}
                        </span>
                    </div>

                    <script type="text/javascript">
                        var ctx = document.getElementById("myChart");
                        var lbls = document.getElementById('lbls').innerHTML;
                        var lbl = document.getElementById('lbl').innerHTML;
                        var dt = document.getElementById('dt').innerHTML;
                        var myChart = new Chart(ctx, {
                                    type: 'bar',
                                    data: {
                                        labels: ["Tháng Một", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai"],
                                        datasets: [{
                                                label: 'Năm 2021',
                                                data: [{{#each bieudo}}
                                                            {{this.soluonglenh}},
                                                        {{/each}}],
                                                backgroundColor: 
                                                        'rgba(54, 162, 235, 0.6)'
                                                    ,
                                                }]
                                        },
                                    options: {
		                                scales: {
			                                yAxes: [{
                                                ticks: {
                                                    beginAtZero:true
                                                }
                                                }]
                                            }
                                        }
                                    });
                    </script>
                </div>
            </div>
        </div>
        {{/if}}
        <script>
            var a = document.getElementById('q').innerHTML;
            console.log(a);
            if(a === "nv"){
                console.log("is nv");
                document.getElementById("barChar").classList.add('d-none');
            }
            
        </script>
    </div>
    <div id="setSession"></div>
</div>