<div class="d-flex justify-content-between m-auto p-4 bg-light">
  <h2 class="">Danh sách thiết bị</h2>
  <form class="d-flex">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Search"
        aria-describedby="basic-addon1" />
      <button class="input-group-text btn btn-outline-success" type="submit">
        Tìm kiếm
      </button>
    </div>
  </form>
  <div class="selectStatus">
    <button class="btn btn-success active">Đang kết nối</button>
    <button class="btn btn-danger">Ngắt kết nối</button>
  </div>
</div>
<div class="row p-5">
  <table class="table table-striped text-center ">
    <thead>
      <tr>
        <th class="col-sm-1">Mã thiết bị</th>
        <th class="col-sm-4">Loại thiết bị</th>
        <th class="col-sm-2">Tên thiết bị</th>
        <th class="col-sm-1">Tài khoản</th>
        <th class="col-sm-1">Trạng thái</th>
        <th class="col-sm-2" colspan="2">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {{#each thietbi}}
      <form action="/list-device/delete/{{this.idthietbi}}?_method=DELETE" method="post">
      <tr>
        <td>{{this.idthietbi}}</td>
        <td>{{this.idloai}}</td>
        <td>{{this.tenthietbi}}</td>
        <td>{{this.taikhoan}}</td>
        <td>
          {{#if trangthai}}
          <button class="btn btn-success">Đang kết nối</button>
          {{else}}
          <button class="btn btn-danger">Ngắt kết nối</button>
          {{/if}}
        </td>
        <td colspan="2">
          <a href="/list-device/detail/{{this.idthietbi}}" class="btn btn-info">
            <i class="fa fa-info-circle"></i> Xem chi tiết
          </a>
          <button class="btn btn-danger" type="submit">
            <i class="fa fa-trash-alt"></i> Xoá
          </button>
        </td>
      </tr>
      </form>
      {{/each}}
    </tbody>
  </table>
</div>