<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h2 class="d-inline-block">Danh sách đơn vị</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <a href="/list-unit/add/" class="btn btn-success">
                        Thêm đơn vị
                    </a>
                    <div class="table-responsive">
                        <table id="data" class="table text-nowrap text-center">
                            <thead>
                                <tr>
                                    <th scope="col">Mã đơn vị</th>
                                    <th scope="col">Tên đơn vị
                                    </th>
                                    <th scope="col">Thao tác
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each donvi}}
                                <tr>
                                    <th scope="row" >{{this.iddonvi}}</th>
                                    
                                    <td>{{this.tendonvi}}</td>
                                    <td>
                                        <form id="{{this.iddonvi}}" class="d-inline-block"
                                            action="/list-unit/delete/{{this.iddonvi}}?_method=DELETE" method="post">
                                            <button type="button" class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Xoá" onclick="myFunction({{this.iddonvi}})">
                                                <i class="fa fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                        <ul id="nav" class="pagination justify-content-center"></ul>
                        <script>
                            function myFunction(id) {
                                let r = confirm('Xác nhận xóa đơn vị');
                                if (r == true) {
                                    document.getElementById(id).submit();
                                    //alert(id);
                                }
                            }
                        </script>
                        <script>
                        $(document).ready(function () {
                            $('#nav').children().remove();
                            var rowsShown = 5;
                            var rowsTotal = $('#data tbody tr').length;
                            var numPages = rowsTotal / rowsShown;
                            for (i = 0; i < numPages; i++) {
                                var pageNum = i + 1;
                                $('#nav').append(
                                    '<li class="page-item"><a id="f" class="page-link" href="#" rel="' + i +
                                    '">' + pageNum + '</a> </li>');
                            }
                            $('#data tbody tr').hide();
                            $('#data tbody tr').slice(0, rowsShown).show();
                            $('#nav li a:first').addClass('active');
                            $('#nav a').bind('click', function () {
                                $('#nav a').removeClass('active');
                                $(this).addClass('active');
                                var currPage = $(this).attr('rel');
                                var startItem = currPage * rowsShown;
                                var endItem = parseInt(startItem, 10) + parseInt(rowsShown, 10);
                                $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem,
                                    endItem).
                                css('display', 'table-row').animate({
                                    opacity: 1
                                }, 300);
                            });
                        });
                    </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>