<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-device/add" class="btn btn-success">
            Thêm thiết bị
          </a>
          <span id="p" class="d-none">{{page}}</span>
          <span id="c" class="d-none">{{count.count}}</span>
          <div class="table-responsive">
            <table id="tbl" class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th class="border-top-0">Tên thiết bị</th>
                  <th class="border-top-0">Loại thiết bị</th>
                  <th class="border-top-0">Tài khoản</th>
                  <th class="border-top-0">Trạng thái</th>
                  <th class="border-top-0">Thao tác</th>
                </tr>
              </thead>
              <script>
                function myfunc(){
                  $('#tk').val('');
                  $('#mk').val('');
                }
                function myFunction(id) {
                let r = confirm('Xác nhận xóa thiết bị');
                if (r == true) {
                  document.getElementById(id).submit();
                  //alert(id);
                }
              }
              </script>
              <tfoot>
                <tr>
                  <td colspan="4"></td>
                  <td id="pag"></td>
                </tr> 
              </tfoot>
            </table>
          </div>
          <div class="" >
            <script>
              
              if (document.readyState == "loading") {
                document.addEventListener('DOMContentLoaded', App);
                
              } else {
                App();
              }
              let np = document.getElementById('p').innerHTML;
              
              function App() {
                
                //common variables
                let defaultIndex = 1,
                  defaultPost = 10,
                  listData = listDataGenerator(),
                  pageIndex = Math.ceil({{count.count}} / defaultPost);

                let wrapper = $('#tbl');
                let pag = $('#pag');

                let listDiv = document.createElement('tbody');
                listDiv.classList.add('listStyle01');
                wrapper.append(listDiv);


                let listWrapper = document.querySelector('.listStyle01');

                let pagiDiv = document.createElement('div');
                pagiDiv.classList.add('pagination', 'm-3', 'justify-content-center');
                pag.append(pagiDiv);

                let pagiWrapper = document.querySelector('.pagination');

                showPosts(listData, 0, defaultPost);
                pagination(defaultIndex, pageIndex);

                function showPosts(listData, startPos, endPost) {
                  listWrapper.innerHTML = '';

                  listData.slice(startPos, endPost).map(post => {
                    let tt = post.trangthai;
                    let btnTT = "";
                    let btnS = "";
                    if(tt == "\"true\""){
                      btnTT = `<form id='${post.idthietbi}${post.idthietbi}' action='/list-device/check/${post.idthietbi}' method="post"><button type='button' class='btn btn-success' onclick='cfmo(${post.idthietbi}${post.idthietbi})'>Đang kết nối</button></form>`;
                      btnS = `<button type='button' class='btn btn-danger' data-toggle='tooltip' data-placement='top' title='Gửi lệnh' data-bs-toggle='modal' data-bs-target='#exampleModal'><i class='fa fa-inbox'></i></button>`;
                    }
                    else{
                      btnTT = `<form id='${post.idthietbi}${post.idthietbi}' action='/list-device/check/${post.idthietbi}' method="post"><button type='button' class='btn btn-danger' onclick='cfmi(${post.idthietbi}${post.idthietbi})'>Ngắt kết nối</button></form>`;
                      btnS = `<button type='button' disabled class='btn btn-danger' data-toggle='tooltip' data-placement='top' title='Gửi lệnh' data-bs-toggle='modal' data-bs-target='#exampleModal'><i class='fa fa-inbox'></i></button>`;
                    }
                    listWrapper.innerHTML += (
                      `
                      <tr>
                  <td>${post.tenthietbi}</td>
                  <td>${post.tenloai}</td>
                  <td>${post.taikhoan}</td>
                  <td>
                    `+ btnTT +`
                  </td>
                  <td>
                    `+ btnS +`
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <form name="lenh" method="post" action="///list-device" id="${post.idthietbi}${post.idthietbi}${post.idthietbi}">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Gửi lệnh</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <input type="text" name="mesg" id="">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Thoát</button>
                              <button type="button" class="btn btn-success" onclick="cfms(${post.idthietbi}${post.idthietbi}${post.idthietbi})">Gửi</button>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                    <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Xem chi tiết"
                      href="/list-device/detail/${post.idthietbi}" method="GET">
                      <i class="fa fa-info-circle"></i>
                    </a>
                    <a href="/list-device/history/${post.idthietbi}?page=1" class="btn btn-success" data-toggle="tooltip"
                      data-placement="top" title="Lịch sử">
                      <i class="fa fa-history"></i>
                    </a>
                    <form id="${post.idthietbi}" class="d-inline-block"
                      action="/list-device/delete/${post.idthietbi}?_method=DELETE" method="post">
                      <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Xoá" onclick="myFunction(${post.idthietbi})">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                      `);
                  })
                }

                function pagination(index, pageLen = pageIndex) {
                  pagiWrapper.innerHTML = '';
                  let current = index,
                    last = pageLen,
                    delta = 2,
                    left = current - delta,
                    right = current + delta + 1,
                    range = [],
                    rangeWithDots = [],
                    l = null;
                  for (let i = 1; i <= last; i++) {
                    if (i == 1 || i == last || i >= left && i < right) {
                      range.push(i);
                    }
                  }

                  for (let i of range) {
                    if (l) {
                      if (i - l === 2) {
                        rangeWithDots.push(l + 1);
                      } else if (i - l !== 1) {
                        rangeWithDots.push('...');
                      }
                    }
                    rangeWithDots.push(i);
                    l = i;
                  }

                  for (let i = 0; i < rangeWithDots.length; i++) {
                    let page = document.createElement('a');
                    page.setAttribute('href','/list-device?page='+(i+1));
                    if (rangeWithDots[i] == np) {
                      page.classList.add('page', 'current', 'btn', 'btn-info');
                    } else if (rangeWithDots[i] == '...') {
                      page.addEventListener('click', e => e.preventDefault());
                      page.classList.add('page', 'btn', 'border-info');
                    } else {
                      page.classList.add('page', 'btn', 'border-info');
                      page.addEventListener('click', changePageIndex);
                    }
                    page.innerHTML = rangeWithDots[i];
                    
                    pagiWrapper.append(page);
                  }

                  showPosts(listData, (current * defaultPost) - defaultPost, (current * defaultPost));
                }

                function changePageIndex(event) {
                  let clickedItem = Number(event.target.innerText);
                  pagination(clickedItem);
                }

                function listDataGenerator(numPosts) {
                  let listDataArray = [
                    {{#each thietbi}} 
                      {
                        idthietbi: '{{this.idthietbi}}',
                        idloai: '{{this.idloai}}',
                        iddonvi: '{{this.iddonvi}}',
                        tenthietbi: '{{this.tenthietbi}}',
                        taikhoan: '{{this.taikhoan}}',
                        trangthai: '"{{this.trangthai}}"',
                        tenloai: '{{this.tenloai}}'
                      },
                    {{/each}}
                  ];
                  
                  return listDataArray;
                }
              }
            </script>
            <script>
              function cfmo(id){
                let cfo = confirm("Xác nhận đăng xuất");
                if (cfo == true) {
                    //document.getElementById(id).submit();
                    id.submit();
                  }
              }
              function cfmi(id){
                let cfi = confirm("Xác nhận đăng nhập");
                if (cfi == true) {
                    id.submit();
                  }
              }
              function cfms(id){
                let cfs = confirm("Xác nhận gửi lệnh");
                if (cfs == true) {
                    id.submit();
                  }
              }
            </script>
            {{#if message}}
              <p id="rpl" class="d-none">{{message}}</p>
              <script>
              var rp = document.getElementById("rpl").innerHTML;
              let ex = rp.slice(1, -1);
              alert(ex);
              window.location = 'http://localhost:3000/list-device';
            </script>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
