<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-device/add" class="btn btn-success">
            Thêm thiết bị
          </a>
          <div class="table-responsive">
            <table class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th class="border-top-0">Tên thiết bị</th>
                  <th class="border-top-0">Loại thiết bị</th>
                  <th class="border-top-0">Tài khoản</th>
                  <th class="border-top-0">Trạng thái</th>
                  <th class="border-top-0">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {{#each thietbi}}
                <tr>
                  <td>{{this.tenthietbi}}</td>
                  <td>{{this.idloai}}</td>
                  <td>{{this.taikhoan}}</td>
                  <td>
                    {{#if trangthai}}
                    <button class="btn btn-success">Đang kết nối</button>
                    {{else}}
                    <button class="btn btn-danger">Ngắt kết nối</button>
                    {{/if}}
                  </td>
                  <td>
                    <a class="btn btn-info" href="/list-device/detail/{{this.idthietbi}}" method="GET" >
                      <i class="fa fa-info-circle"></i>
                      Xem chi tiết
                    </a>
                    <form class="d-inline-block" action="/list-device/delete/{{this.idthietbi}}?_method=DELETE"
                      method="post">
                      <button type="submit" class="btn btn-danger">
                        <i class="fa fa-trash-alt"></i>
                        Xoá
                      </button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>