<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-device/add" class="btn btn-success">
            Thêm thiết bị
          </a>
          <div class="table-responsive">
            <table id="data" class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th class="border-top-0">Tên thiết bị</th>
                  <th class="border-top-0">Loại thiết bị</th>
                  <th class="border-top-0">Tài khoản</th>
                  <th class="border-top-0">Trạng thái</th>
                  <th class="border-top-0">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {{#each thietbi}}
                <tr>
                  <td>{{this.tenthietbi}}</td>
                  <td>{{this.tenloai}}</td>
                  <td>{{this.taikhoan}}</td>
                  <td>
                    {{#if trangthai}}
                    <button class="btn btn-success">Đang kết nối</button>
                    {{else}}
                    <button class="btn btn-danger">Ngắt kết nối</button>
                    {{/if}}
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                      title="Gửi lệnh" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <i class="fa fa-inbox"></i>

                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Gửi lệnh</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <input type="text" name="mesg" id="mesg">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Thoát</button>
                            <button type="button" class="btn btn-success">Gửi</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Xem chi tiết"
                      href="/list-device/detail/{{this.idthietbi}}" method="GET">
                      <i class="fa fa-info-circle"></i>
                    </a>
                    <a href="/list-device/history/{{this.idthietbi}}" class="btn btn-success" data-toggle="tooltip"
                      data-placement="top" title="Lịch sử">
                      <i class="fa fa-history"></i>
                    </a>
                    <form id="{{this.idthietbi}}" class="d-inline-block"
                      action="/list-device/delete/{{this.idthietbi}}?_method=DELETE" method="post">
                      <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Xoá" onclick="myFunction({{this.idthietbi}})">
                        <i class="fa fa-trash-alt"></i>

                      </button>
                    </form>
                  </td>
                </tr>

                <form action="/list-device/connect/{{this.idthietbi}}" method="post">
                  <input type="submit" value="{{this.idthietbi}}">
                </form>

                {{/each}}
              </tbody>
            </table>
            <ul id="nav" class="pagination justify-content-center"></ul>
            <script>
              function myFunction(id) {
                let r = confirm('Xác nhận xóa thiết bị');
                if (r == true) {
                  document.getElementById(id).submit();
                  //alert(id);
                }
              }
            </script>
            <script>
                        $(document).ready(function () {
                            $('#nav').children().remove();
                            var rowsShown = 5;
                            var rowsTotal = $('#data tbody tr').length;
                            var numPages = rowsTotal / rowsShown;
                            for (i = 0; i < numPages; i++) {
                                var pageNum = i + 1;
                                $('#nav').append(
                                    '<li class="page-item"><a id="f" class="page-link" href="#" rel="' + i +
                                    '">' + pageNum + '</a> </li>');
                            }
                            $('#data tbody tr').hide();
                            $('#data tbody tr').slice(0, rowsShown).show();
                            $('#nav li a:first').addClass('active');
                            $('#nav a').bind('click', function () {
                                $('#nav a').removeClass('active');
                                $(this).addClass('active');
                                var currPage = $(this).attr('rel');
                                var startItem = currPage * rowsShown;
                                var endItem = parseInt(startItem, 10) + parseInt(rowsShown, 10);
                                $('#data tbody tr').css('opacity', '0.0').hide().slice(startItem,
                                    endItem).
                                css('display', 'table-row').animate({
                                    opacity: 1
                                }, 300);
                            });
                        });
                    </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>