<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách người dùng</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-user/add" class="btn btn-success">
            Thêm người dùng
          </a>
           <th scope="col">{{message}}</th>
          <div class="table-responsive">
            <table class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th scope="col">Mã người dùng</th>
                  <th scope="col">Tên người dùng
                  </th>
                  <th scope="col">Đơn vị
                  </th>
                  <th scope="col">Tài khoản
                  </th>
                  <th scope="col">Quyền
                  </th>
                  <th scope="col">Thao tác
                  </th>
                </tr>
              </thead>
              <tbody>{{#each nguoidung}}
                <tr>
                  <th scope="row">{{this.idnguoidung}}</th>
                  <td>{{this.tennguoidung}}</td>
                  <td>{{this.tendonvi}}</td>
                  <td>{{this.taikhoan}}</td>
                  <td>{{this.quyen}}</td>
                  <td>
                  <form id="dele" class="d-inline-block" action="/list-user/delete/{{this.idnguoidung}}?_method=DELETE" method="post">
                    <button type="button" class="btn btn-danger" data-toggle="tooltip"
                        data-placement="top" title="Xoá" onsubmit="myFunction()">
                      <i class="fa fa-trash-alt"></i> 
                    </button>
                  </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <script type="text/javascript">
              function myFunction() {
                var r = confirm('Xác nhận xóa người dùng');
                if (r == true) {
                  document.getElementById('dele').submit();
                } 
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>