<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách loại thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-catogory/add" class="btn btn-success">
            Thêm loại thiết bị
          </a>
          <button type="button" class="btn btn-danger" onclick="myFunction()">
            Xoá
          </button>
          <div class="table-responsive">
            <table class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th scope="col">Mã loại thiết bị</th>
                  <th scope="col">Tên loại thiết bị
                  </th>
                  <th scope="col">Thao tác
                  </th>
                </tr>
              </thead>
              <tbody>
                {{#each loaithietbi}}
                <tr>
                  <th scope="row">{{this.idloai}}</th>
                  <td>{{this.tenloai}}</td>
                  <td>
                    <form class="d-inline-block" action="/list-catogory/detail/{{this.idloai}}" method="get">
                      <button class="btn btn-info" type="submit" data-placement="top" title="Xem chi tiết">
                        <i class="fa fa-info-circle"></i>

                      </button>
                    </form>
                    <form class="d-inline-block" action="/list-catogory/delete/{{this.idloai}}?_method=DELETE"
                      method="POST">
                      <button type="submit" class="btn btn-danger" onclick="myFunction()" data-toggle="tooltip"
                        data-placement="top" title="Xoá">
                        <i class="fa fa-trash-alt"></i>

                      </button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <script type="text/javascript">
              function myFunction() {
                alert('Xác nhận xóa loại thiết bị');
                //var text = {{#each loaithietbi}}
                //  console.log({{this.idloai}});
                //{{/each}}
                //console.log(text);
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
