<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-device/add" class="btn btn-success">
            Thêm thiết bị
          </a>
          <div class="table-responsive">
            <table class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th class="border-top-0">Tên thiết bị</th>
                  <th class="border-top-0">Loại thiết bị</th>
                  <th class="border-top-0">Tài khoản</th>
                  <th class="border-top-0">Trạng thái</th>
                  <th class="border-top-0">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                {{#each thietbi}}
                <tr>
                  <td>{{this.tenthietbi}}</td>
                  <td>{{this.tenloai}}</td>
                  <td>{{this.taikhoan}}</td>
                  <td>
                    {{#if trangthai}}
                    <button class="btn btn-success">Đang kết nối</button>
                    {{else}}
                    <button class="btn btn-danger">Ngắt kết nối</button>
                    {{/if}}
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                      title="Gửi lệnh" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      <i class="fa fa-inbox"></i>

                    </button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Gửi lệnh</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <input type="text" name="mesg" id="mesg">
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Thoát</button>
                            <button type="button" class="btn btn-success">Gửi</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Xem chi tiết"
                      href="/list-device/detail/{{this.idthietbi}}" method="GET">
                      <i class="fa fa-info-circle"></i>
                    </a>
                    <a href="/list-device/history/{{this.idthietbi}}" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Lịch sử">
                      <i class="fa fa-history"></i>
                    </a>
                    <form class="d-inline-block" action="/list-device/delete/{{this.idthietbi}}?_method=DELETE"
                      method="post">
                      <button type="submit" class="btn btn-danger" onclick="myFunction()" data-toggle="tooltip"
                        data-placement="top" title="Xoá">
                        <i class="fa fa-trash-alt"></i>

                      </button>
                    </form>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <script>
              function myFunction() {
                confirm('Xác nhận xóa thiết bị');
              }
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>