<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách thiết bị</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-device/add" class="btn btn-success">
            Thêm thiết bị
          </a>
          <div class="table-responsive">
            <table id="tbl" class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th class="border-top-0">Mã thiết bị</th>
                  <th class="border-top-0">Tên thiết bị</th>
                  <th class="border-top-0">Loại thiết bị</th>
                  <th class="border-top-0">Tài khoản</th>
                  <th class="border-top-0">Trạng thái</th>
                  <th class="border-top-0">Thao tác</th>
                </tr>
              </thead>
              <script>
                function myFunction(id) {
                let r = confirm('Xác nhận xóa thiết bị');
                if (r == true) {
                  id.submit();
                }
              }
              </script>
              <tfoot>
                <tr>
                  <td colspan="5"></td>
                  <td id="pag"></td>
                </tr> 
              </tfoot>
            </table>
          </div>
          <div class="" >
            <script>
              
              if (document.readyState == "loading") {
                document.addEventListener('DOMContentLoaded', App);
                
              } else {
                App();
              }
              let pg=0;
              function App() {
                let defaultIndex = {{page}},
                  defaultPost = 10,
                  listData = [
                    {{#each thietbi}} 
                      {
                        idthietbi: '{{this.idthietbi}}',
                        idloai: '{{this.idloai}}',
                        iddonvi: '{{this.iddonvi}}',
                        tenthietbi: '{{this.tenthietbi}}',
                        taikhoan: '{{this.taikhoan}}',
                        trangthai: '"{{this.trangthai}}"',
                        tenloai: '{{this.tenloai}}'
                      },
                    {{/each}}
                  ],
                  pageIndex = Math.ceil({{count.count}} / defaultPost);
                let wrapper = $('#tbl');
                let pag = $('#pag');

                let listDiv = document.createElement('tbody');
                listDiv.classList.add('listStyle01');
                wrapper.append(listDiv);


                let listWrapper = document.querySelector('.listStyle01');

                let pagiDiv = document.createElement('div');
                pagiDiv.classList.add('pagination', 'm-3', 'justify-content-center');
                pag.append(pagiDiv);

                let pagiWrapper = document.querySelector('.pagination');

                showPosts(listData, 0, defaultPost);
                pagination(defaultIndex, pageIndex);
                function showPosts(listData, startPos, endPost) {
                  listWrapper.innerHTML = '';

                  listData.slice(startPos, endPost).map(post => {
                    let tt = post.trangthai;
                    let btnTT = "";
                    if(tt == "\"true\""){
                      btnTT = `<form id='${post.idthietbi}${post.idthietbi}' action='/list-device/check/${post.idthietbi}' method="post"><button type='button' class='btn btn-success' onclick='cfmo(${post.idthietbi}${post.idthietbi},${post.trangthai})'>Đang kết nối</button></form>`;
                    }
                    else{
                      btnTT = `<form id='${post.idthietbi}${post.idthietbi}' action='/list-device/check/${post.idthietbi}' method="post"><button type='button' class='btn btn-danger' onclick='cfmi(${post.idthietbi}${post.idthietbi},${post.trangthai})'>Ngắt kết nối</button></form>`;
                    }
                    listWrapper.innerHTML += (
                      `
                      <tr>
                        <td>${post.idthietbi}</td>
                  <td>${post.tenthietbi}</td>
                  <td>${post.tenloai}</td>
                  <td>${post.taikhoan}</td>
                  <td>
                    `+ btnTT +`
                  </td>
                  <td>           
                    <a class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Xem chi tiết"
                      href="/list-device/detail/${post.idthietbi}" method="GET">
                      <i class="fa fa-info-circle"></i>
                    </a>
                    <a href="/list-device/history/${post.idthietbi}" class="btn btn-success" data-toggle="tooltip"
                      data-placement="top" title="Lịch sử">
                      <i class="fa fa-history"></i>
                    </a>
                    <form id="${post.idthietbi}" class="d-inline-block"
                      action="/list-device/delete/${post.idthietbi}?_method=DELETE" method="post">
                      <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                        title="Xoá" onclick="myFunction(${post.idthietbi})">
                        <i class="fa fa-trash-alt"></i>
                      </button>
                    </form>
                  </td>
                </tr>
                      `);
                  })
                }

                function pagination(index, pageLen = pageIndex) {
                  pagiWrapper.innerHTML = '';
                  let current = index,
                    last = pageLen,
                    delta = 2,
                    left = current - delta,
                    right = current + delta + 1,
                    range = [],
                    rangeWithDots = [],
                    l = null;
                  for (let i = 1; i <= last; i++) {
                    if (i == 1 || i == last || i >= left && i < right) {
                      range.push(i);
                    }
                  }

                  for (let i of range) {
                    if (l) {
                      if (i - l === 2) {
                        rangeWithDots.push(l + 1);
                      } else if (i - l !== 1) {
                        rangeWithDots.push('...');
                      }
                    }
                    rangeWithDots.push(i);
                    l = i;
                  }

                  for (let i = 0; i < rangeWithDots.length; i++) {
                    let page = document.createElement('a');
                    if (rangeWithDots[i] == current) {
                      page.classList.add('page', 'current', 'btn', 'btn-info');
                    } else if (rangeWithDots[i] == '...') {
                      page.addEventListener('click', e => e.preventDefault());
                      page.classList.add('page', 'btn', 'border-info');
                    } else {
                      page.classList.add('page', 'btn', 'border-info');
                      page.addEventListener('click', function(){
                        let clickedItem = Number(event.target.innerText);  
                        page.setAttribute('href','?page='+clickedItem);
                        pagination(clickedItem);
                        showPosts(listData, (current * defaultPost) - defaultPost, (current * defaultPost)); 
                      });
                    }
                    page.innerHTML = rangeWithDots[i];
                    
                    pagiWrapper.append(page);
                  }
                }
              }
            </script>
            <script>
              function cfmo(id,stat){
                let cfo = confirm("Xác nhận đăng xuất");
                if (cfo == true) {
                    const myObj = {tt: stat};
                    const myJSON = JSON.stringify(myObj);
                    localStorage.setItem("tttb", myJSON);
                    id.submit();
                  }
              }
              function cfmi(id,stat){
                let cfi = confirm("Xác nhận đăng nhập");
                if (cfi == true) {
                    const myObj = {tt: stat};
                    const myJSON = JSON.stringify(myObj);
                    localStorage.setItem("tttb", myJSON);
                    id.submit();
                  }
              }
            </script>
            {{#if message}}
              <p id="rpl" class="d-none">{{message}}</p>
              <script>
              var rp = document.getElementById("rpl").innerHTML;
              let ex = rp.slice(1, -1);
              alert(ex);
              window.location = 'http://localhost:3000/list-device';
            </script>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
