<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h2 class="d-inline-block">Danh sách người dùng</h2>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <a href="/list-user/add" class="btn btn-success">
            Thêm người dùng
          </a>
          <span id="p" class="d-none">{{page}}</span>
          <div class="table-responsive">
            <table id="tbl" class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th scope="col">Mã người dùng</th>
                  <th scope="col">Tên người dùng
                  </th>
                  <th scope="col">Đơn vị
                  </th>
                  <th scope="col">Tài khoản
                  </th>
                  <th scope="col">Quyền
                  </th>
                  <th scope="col">Thao tác
                  </th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="5"></td>
                  <td id="pag"></td>
                </tr> 
              </tfoot>
            </table>
            <ul id="nav" class="pagination justify-content-center"></ul>
            <script>
              function myFunction(id) {
                let r = confirm('Xác nhận xóa người dùng này');
                if (r == true) {
                  document.getElementById(id).submit();
                  //alert(id);
                }
              }
            </script>
            <script>
              if (document.readyState == "loading") {
                document.addEventListener('DOMContentLoaded', App);
              } else {
                App();
              }
              let np = document.getElementById('p').innerHTML;
              console.log(np);
              function App() {
                //common variables
                let defaultIndex = 1,
                  defaultPost = 10,
                  listData = [
                    {{#each nguoidung}} 
                      {
                        idnguoidung: '{{this.idnguoidung}}',
                        tennguoidung: '{{this.tennguoidung}}',
                        iddonvi: '{{this.iddonvi}}',
                        taikhoan: '{{this.taikhoan}}',
                        quyen: '{{this.quyen}}',
                        tendonvi: '{{this.tendonvi}}'
                      },
                    {{/each}}
                  ],
                  pageIndex = Math.ceil({{count.count}} / defaultPost);

                let wrapper = $('#tbl');
                let pag = $('#pag');

                let listDiv = document.createElement('tbody');
                listDiv.classList.add('listStyle01');
                wrapper.append(listDiv);


                let listWrapper = document.querySelector('.listStyle01');

                let pagiDiv = document.createElement('div');
                pagiDiv.classList.add('pagination', 'm-3', 'justify-content-center');
                pag.append(pagiDiv);

                let pagiWrapper = document.querySelector('.pagination');

                showPosts(listData, 0, defaultPost);
                pagination(defaultIndex, pageIndex);

                function showPosts(listData, startPos, endPost) {
                  listWrapper.innerHTML = '';

                  listData.slice(startPos, endPost).map(post => {
                    listWrapper.innerHTML += (
                      ` <tr><th scope='row'>${post.idnguoidung}</th><td>${post.tennguoidung}</td><td>${post.tendonvi}</td><td>${post.taikhoan}</td><td>${post.quyen}</td><td><form id='${post.idnguoidung}' class='d-inline-block' action='/list-user/delete/${post.idnguoidung}?_method=DELETE' method='post'><button type='button' class='btn btn-danger' data-toggle='tooltip' data-placement='top' title='Xoá' onclick='myFunction(${post.idnguoidung})'><i class='fa fa-trash-alt'></i></button></form></td></tr>
                      `);
                  })
                }

                function pagination(index, pageLen = pageIndex) {
                  pagiWrapper.innerHTML = '';
                  let current = np,
                    last = pageLen,
                    delta = 2,
                    left = current - delta,
                    right = current + delta + 1,
                    range = [],
                    rangeWithDots = [],
                    l = null;
                  for (let i = 1; i <= last; i++) {
                    if (i == 1 || i == last || i >= left && i < right) {
                      range.push(i);
                    }
                  }

                  for (let i of range) {
                    if (l) {
                      if (i - l === 2) {
                        rangeWithDots.push(l + 1);
                      } else if (i - l !== 1) {
                        rangeWithDots.push('...');
                      }
                    }
                    rangeWithDots.push(i);
                    l = i;
                  }

                  for (let i = 0; i < rangeWithDots.length; i++) {
                    let page = document.createElement('a');
                    page.setAttribute('href','/list-user?page='+(i+1));
                    if (rangeWithDots[i] == np) {
                      page.classList.add('page', 'current', 'btn', 'btn-info');
                    } else if (rangeWithDots[i] == '...') {
                      page.addEventListener('click', e => e.preventDefault());
                      page.classList.add('page', 'btn', 'border-info');
                    } else {
                      page.classList.add('page', 'btn', 'border-info');
                      page.addEventListener('click', function(){
                        let clickedItem = Number(event.target.innerText);  
                        page.setAttribute('href','/list-user?page='+clickedItem);
                        pagination(clickedItem);
                        showPosts(listData, (current * defaultPost) - defaultPost, (current * defaultPost)); 
                      });
                    }
                    page.innerHTML = rangeWithDots[i];
                    
                    pagiWrapper.append(page);
                  }

                }
              }
            </script>
            {{#if message}}
              <p id="rpl" class="d-none">{{message}}</p>
              <script>
                var rp = document.getElementById("rpl").innerHTML;
                let ex = rp.slice(1, -1);
                alert(ex);
                window.location = 'http://localhost:3000/list-user';
              </script>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>