<div class="page-wrapper">
  <div class="page-breadcrumb bg-white">
    <div class="row justify-content-between">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <h2 class="my-0">Tìm kiếm: {{idthietbi}}
        <button class="btn btn-success" type="button" onclick="reload()"><i class="fa fa-sync"></i></button>
        </h2>
      </div>
      <form method="GET"
      onsubmit="window.location = '/list-device/search/{{idthietbi}}?date=' + dt.value + '&page=' + {{page}}; return false;"
       role="search" class="app-search col-sm-2">
        <div class="input-group mb-3">
          <input id="dt" type="date" class="form-control mt-0" aria-describedby="basic-addon2">
            <button type="submit" id="basic-addon2" class="active input-group-text">
              <i class="fa fa-search"></i>
            </button>
        </div>
      </form>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="white-box">
          <div class="table-responsive">
            <table id="tbl" class="table text-nowrap text-center">
              <thead>
                <tr>
                  <th>Số thứ tự</th>
                  <th scope="col">Ngày gửi</th>
                  <th scope="col">Thời gian gửi</th>
                  <th scope="col">Dữ liệu gửi</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan="2"></td>
                  <td colspan="2" id="pag"></td>
                </tr>
              </tfoot>
            </table>
          </div>
          <script>
            function reload(){
              $('tbody').remove();
              App();
            }
            if (document.readyState == "loading") {
              document.addEventListener('DOMContentLoaded', App);
            } else {
              App();
            }
            let nn;
            if(nn != {{page}}){
              nn = {{page}} - 1 ;
              nn = nn*10;
            }
            function App() {
              console.log('test');
              let defaultIndex = {{page}},
                defaultPost = 10,
                listData = [{{#each dulieu}} {
                    nam: '{{this.nam}}',
                    thang: '{{this.thang}}',
                    ngay: '{{this.ngay}}',
                    gio: '{{this.gio}}',
                    phut: '{{this.phut}}',
                    giay: '{{this.giay}}',
                    chitiet: '{{this.chitiet}}'
                  },
                  {{/each}}],
                pageIndex = Math.ceil({{count.count}} / defaultPost);

              let wrapper = $('#tbl');
              let pag = $('#pag');
              pag.html('');
              
              let listDiv = document.createElement('tbody');
              listDiv.classList.add('listStyle01');
              wrapper.append(listDiv);


              let listWrapper = document.querySelector('.listStyle01');

              let pagiDiv = document.createElement('div');
              pagiDiv.classList.add('pagination', 'm-3', 'justify-content-end');
              pag.append(pagiDiv);

              let pagiWrapper = document.querySelector('.pagination');

              showPosts(listData, 0, defaultPost);
              pagination(defaultIndex, pageIndex);
              
              function showPosts(listData, startPos, endPost) {
                listData.slice(startPos, endPost).map(post => {
                  nn = parseInt(nn+1);
                  listWrapper.innerHTML += (
                    `<tr><td>`+nn+`</td><td>${post.ngay}/${post.thang}/${post.nam}</td><td>${post.gio}:${post.phut}:${post.giay}</td><td>${post.chitiet}</td></tr>`
                  );
                })
                
              }

              function pagination(index, pageLen = pageIndex) {
                pagiWrapper.innerHTML = '';
                let current = index,
                  last = pageLen,
                  delta = 2,
                  left = current - delta,
                  right = current + delta + 1,
                  range = [],
                  rangeWithDots = [],
                  l = null;
                for (let i = 1; i <= last; i++) {
                  if (i == 1 || i == last || i >= left && i < right) {
                    range.push(i);
                  }
                }

                for (let i of range) {
                  if (l) {
                    if (i - l === 2) {
                      rangeWithDots.push(l + 1);
                    } else if (i - l !== 1) {
                      rangeWithDots.push('...');
                    }
                  }
                  rangeWithDots.push(i);
                  l = i;
                }

                for (let i = 0; i < rangeWithDots.length; i++) {
                  let page = document.createElement('a');
                  if (rangeWithDots[i] == current) {
                    page.classList.add('page', 'current', 'btn', 'btn-info');
                  } else if (rangeWithDots[i] == '...') {
                    page.addEventListener('click', e => e.preventDefault());
                    page.classList.add('page', 'btn', 'border-info');
                  } else {
                    page.classList.add('page', 'btn', 'border-info');
                    page.addEventListener('click', function(){
                        let clickedItem = Number(event.target.innerText);  
                        page.setAttribute('href','?date={{date}}&page=' + clickedItem);
                        pagination(clickedItem);
                        showPosts(listData, (current * defaultPost) - defaultPost, (current * defaultPost)); 
                      });
                  }
                  page.innerHTML = rangeWithDots[i];

                  pagiWrapper.append(page);
                }
              }
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>